.vs
Source/Core/obj
Source/Plugins/BuilderModes/obj
Source/Plugins/Statistics/obj
Source/Plugins/CopyPasteSectorProps/obj
Source/Plugins/ImageDrawingExample/obj
Source/Plugins/CommentsPanel/obj
Source/Plugins/TagRange/obj
Source/Plugins/RejectEditor/obj
Source/Plugins/AutomapMode/obj
*.zip
Build/*.exe
Build/*.pdb
Build/Plugins
Build/Builder.xml
